@{
    Layout = "_Customer";
    ViewData["Title"] = "Location";
    ViewData["page_title"] = "Our Location";
    ViewData["location"] = "active";
}

<div class="row" style="padding:10px">
    <div class="card text-center">
        <div class="row">
            <iframe width="600" height="450" frameborder="0" style="border:0;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d127483.79492144765!2d101.60800533170864!3d3.1294185200197746!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31cc4803f91554d9%3A0x72764aefb5053303!2sSOL%20Integrative%20Wellness%20Centre!5e0!3m2!1sen!2ske!4v1711903498196!5m2!1sen!2ske" allowfullscreen="">
            </iframe>
        </div>
        <div class="row">
            <p>
                Our wellness center, nestled in the vibrant city of Kuala Lumpur, Malaysia, offers a sanctuary for relaxation and rejuvenation. Located in the heart of this bustling metropolis, our center provides a tranquil escape from the daily hustle and bustle.

                With a focus on massage services and wellness products, we strive to create a serene environment where our clients can unwind, destress, and pamper themselves. Our team of skilled masseurs and therapists ensures that each session is tailored to meet individual needs, promoting physical and mental well-being.

                In addition to our massage services, we offer a curated selection of premium wellness products designed to enhance your self-care routine. From aromatic essential oils to soothing skincare products, we provide everything you need to nourish your body and soul.

                Visit our center in Kuala Lumpur and experience a harmonious blend of relaxation, rejuvenation, and wellness.
            </p>
        </div>
        <div class="row">
            <h6>operation time: 8:00 a.m - 05:30 p.m</h6>
        </div>
    </div>
</div>
