@{
    Layout = "_Customer";
    ViewData["Title"] = "Contact Us";
    ViewData["page_title"] = "Contact us";
    ViewData["contact"] = "active";
}

<div class="row" style="padding:10px">
    <div class="card text-center">
        <div class="row">
            <img src="/assets/img/About Us.jpg" height="350">
        </div>
        <div class="row">
            <p>
                Email: info@welness.com
            </p>
            <p>Phone: +615343823333</p>
            <p>Fax: +615343823333</p>
        </div>
        <div class="row">
            <h6>operation time: 8:00 a.m - 05:30 p.m</h6>
        </div>
    </div>
</div>
