@{
    Layout = "_Customer";
    ViewData["Title"] = "About us";
    ViewData["page_title"] = "About us";
    ViewData["about"] = "active";
}

<div class="row" style="padding:10px">
    <div class="card text-center">
        <div class="row">
            <img src="/assets/img/About Us.jpg" height="350">
        </div>
        <div class="row">
            <p>
                Welcome to our wellness center, where relaxation and rejuvenation await you. Step into a sanctuary of tranquility and discover a world of soothing massages and premium wellness products designed to enhance your well-being.

                Our experienced masseurs offer a range of massage therapies tailored to your needs, from traditional Thai massages that invigorate your body and mind to aromatic oil massages that melt away stress and tension. Each session is designed to restore balance, promote relaxation, and leave you feeling refreshed.

                In addition to our massage services, we offer a curated selection of high-quality wellness products. From aromatic oils and herbal remedies to luxurious body lotions and skincare essentials, our products are crafted with natural ingredients to nourish your skin and promote overall wellness.

                At our wellness center, we prioritize your comfort and satisfaction, ensuring every visit is a rejuvenating experience. Whether you're seeking a moment of relaxation or looking to enhance your wellness routine, we invite you to explore our offerings and embark on a journey to wellness with us.
            </p>
        </div>
        <div class="row">
            <h6>operation time: 8:00 a.m - 05:30 p.m</h6>
        </div>
    </div>
</div>
