@{
    Layout = "_Admin";
    ViewData["Title"] = "Masseurs";
    ViewData["page_title"] = "Masseurs List";
}

<div class="row">
    <div class="col-lg-3 col-sm-6 col-12">
        <div class="card text-center" style="width: 18rem;">
            <img src="~/assets/img/logo.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Jonas Blue</h5>
                <a href="/A_edit_masseur" class="btn btn-outline-primary">Edit</a>
                <a href="/A_delete_masseur" class="btn btn-outline-danger">Delete</a>
            </div>
        </div>
    </div>
</div>
